<div class="container">
  <div class="pbox">
    <div class="pimage">
      <ion-icon class="save" name="bookmark-outline"></ion-icon>
      <img src="https://elcopcbonline.com/photos/product/4/176/4.jpg" />
    </div>
    <div class="pcbox">
      <div class="set1">
        <div class="s1left">White Casual Hoodie super natural</div>
        <div class="s1right">99.99$</div>
      </div>
      <div class="set2">
        <div class="left">
          <ion-icon class="rating" name="star-outline"></ion-icon>8.2
        </div>
        <div class="right">Add to Card</div>
      </div>
    </div>
  </div>
  <div class="pbox">
    <div class="pimage">
      <ion-icon class="save" name="bookmark-outline"></ion-icon>
      <img src="https://elcopcbonline.com/photos/product/4/176/4.jpg" />
    </div>
    <div class="pcbox">
      <div class="set1">
        <div class="s1left">White Casual Hoodie super natural</div>
        <div class="s1right">99.99$</div>
      </div>
      <div class="set2">
        <div class="left">
          <ion-icon class="rating" name="star-outline"></ion-icon>8.2
        </div>
        <div class="right">Add to Card</div>
      </div>
    </div>
  </div>
  <div class="pbox">
    <div class="pimage">
      <ion-icon class="save" name="bookmark-outline"></ion-icon>
      <img src="https://elcopcbonline.com/photos/product/4/176/4.jpg" />
    </div>
    <div class="pcbox">
      <div class="set1">
        <div class="s1left">White Casual Hoodie super natural</div>
        <div class="s1right">99.99$</div>
      </div>
      <div class="set2">
        <div class="left">
          <ion-icon class="rating" name="star-outline"></ion-icon>8.2
        </div>
        <div class="right">Add to Card</div>
      </div>
    </div>
  </div>
  <div class="pbox">
    <div class="pimage">
      <ion-icon class="save" name="bookmark-outline"></ion-icon>
      <img src="https://elcopcbonline.com/photos/product/4/176/4.jpg" />
    </div>
    <div class="pcbox">
      <div class="set1">
        <div class="s1left">White Casual Hoodie super natural</div>
        <div class="s1right">99.99$</div>
      </div>
      <div class="set2">
        <div class="left">
          <ion-icon class="rating" name="star-outline"></ion-icon>8.2
        </div>
        <div class="right">Add to Card</div>
      </div>
    </div>
  </div>
</div>
